{% extends "layouts/base.html" %}

{% block title %} Home{% endblock %}

{% block content %}
    <div>Hello
    <div>
    {{restaurant.name}}
    <br>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" name="" value="Add post" class="bottom">
        </form>
    <br>
    {%for comment in comments%}
        {{comment.content}}
        <br>
        --------------------------------
        <br>
    {% endfor %}

    </div>
{% endblock %}